.aboutUsItem {
  min-height: 100vh;
  background-color: #171717;
  color: #fffded;
}

.aboutTitle {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.aboutUsGridItem {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 4rem;
}

.aboutUsGridItem * {
  width: 15rem;
  margin: auto;
}
.aboutUsGridItem p {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

.aboutImage {
  height: 15rem;
  width: 15rem;
  border: 2px inset rgb(230, 252, 255);
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .aboutUsItem {
    scroll-snap-align: unset;
  }

  .aboutUsGridItem {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2rem;
  }
  .aboutTitle {
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
  }

  .aboutUsGridItem h1 {
    font-size: 1.5rem;
    width: 20rem;
    margin: auto;
  }
  .aboutUsGridItem p {
    font-size: 1rem;
    width: 20rem;
  }
  .aboutImage {
    height: 10rem;
    width: 10rem;
  }
}
