.showYouItem {
  color: #fffded;
  background-color: black;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
}
.showMeImage {
  margin: 4rem;
  height: 40rem;
  width: 40rem;
  border: 2px inset rgb(230, 252, 255);
  border-radius: 50%;
}

.aboutTitle {
  height: 5rem;
}

.showMeContent {
  color: #fffded;
}

.showMeGridItem h1 {
  margin-top: 2rem;
  color: #fffded;
  font-size: 2rem;
}

.showMeGridItem p {
  font-family: sans-serif;
  margin: 1rem;
  width: 90%;
  color: rgb(230, 252, 255);
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .showMeImage {
    display: none;
  }
  .showMeGridItem h1 {
    margin-top: 0.5rem;
    color: #fffded;
    font-size: 1.5rem;
  }
  .showMeGridItem p {
    margin: 0.5rem;
    width: 90%;
    color: rgb(230, 252, 255);
    font-size: 0.9rem;
  }
}
