.userPage {
  display: flex;
}

.sideBar {
  height: 100vh;
  min-width: 12rem;
  background-color: rgba(9, 11, 14, 0.7);
}

.sideBarHeader {
  color: white;
  line-height: 4rem;
  text-align: center;
  background-color: rgba(27, 32, 39, 0.315);
}

.sideBar li {
  display: flex;
  flex-direction: row;
  line-height: 4rem;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: white;
  list-style-type: none;
  cursor: pointer;
  box-sizing: border-box;
  border-top: solid rgb(80, 80, 104, 1) 1px;
  border-bottom: solid black 1px;
  transition: 0.3s;
}

.icon {
  flex: 30%;
}

.listTitle {
  flex: 70%;
}

.sideBar li:hover {
  margin-left: 20px;
  background-color: rgba(58, 60, 66, 1);
}

.table {
  flex: 1;
  display: flex;
  justify-content: center;
  float: right;
  padding: 20px;
  margin-left: 0rem;
}

.statTable {
  margin-top: 8rem;
  border-collapse: collapse;
}

.statTable th {
  padding: 6px 10px;
  border: 1px solid black;
}

.statTable td {
  padding: 6px 10px;
  border: 1px solid black;
}

.tableHead {
  height: 4rem;
  background-color: rgba(9, 11, 14, 0.7);
  font-size: 1rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 2rem;
}

.tableHead th {
  padding-left: 2rem;
  padding-right: 2rem;
}

.tdStyle tr {
  background-color: white;
}

.tdStyle tr:nth-child(even) {
  background-color: rgba(200, 205, 208, 1);
}

.totalRow {
  background-color: rgba(96, 108, 116, 1);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
}
/* ---------------------------------------- */
.inTheGreen tr {
  background-color: rgba(144, 238, 144, 0.322);
}

.inTheRed tr {
  background-color: rgba(255, 0, 0, 0.342);
}

.font1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
}
