body {
  background-image: url(/public/Images/landingPageBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttonForm {
  margin-top: 10rem;
  border: solid black 1px;
  border-radius: 10px;
  padding: 3rem;
  background: linear-gradient(
    90deg,
    rgba(253, 253, 255, 1) 26%,
    rgba(217, 217, 226, 1) 100%
  );
  width: 20rem;
  display: inline-block;
}

.buttonFormButton {
}
