@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
html {
  scroll-snap-type: y mandatory;
  overflow: auto;
}
* {
  font-family: volkhov;
  margin: 0;
}

.loginPage {
  height: 100vh;
}

.pageWrapper {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuWrapper {
  background-color: rgba(200, 205, 208, 1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert {
  font-size: 10px;
  color: red;
}

.appNav {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2% 10%;
  background-color: rgba(9, 11, 14, 0.7);
  border: solid black 1px;
}

.appNav p {
  font-size: 30px;
  color: white;
  margin-left: 30rem;
}

.nav {
  max-width: 100%;
  margin: 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 79, 86, 0);
}

.nav-left {
  width: 10rem;
  height: 1rem;
  margin-right: auto;
}

.nav-right {
  width: 10rem;
  height: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.nav-logo {
  margin-top: 1rem;
  padding-top: 4px;
  border-radius: 1rem;
  max-width: 9.5rem;
  max-height: 12rem;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: #fffded;
}

/* CONTENT STYLES */

.head {
  max-height: 100%;
  max-width: 100%;
  scroll-snap-align: start;
}

.carouselDiv {
  text-align: center;
  min-height: 100vh;
}
.carouselDiv * {
  color: white;
}

.carouselImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
  color: #fffded;
  font-size: 2rem;
  margin: 10px;
}

.carousel {
  width: 100%;
  height: 36.3rem;
}
.carousel img {
  width: 100%;
}

.headtext1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 400;
  color: #fffded;
}

.loginWrapper {
  min-width: 50%;
  height: 50%;
}

.loginHead {
  padding: 10px;
}

.formText {
  color: #fffded;
  font-size: 20px;
  font-weight: bold;
}

.form {
  color: #fffded;
  background-color: #171717;
  border: solid, black, 1px;
  border-radius: 20px;
  margin-top: 8rem;
  width: 20rem;
  height: 20rem;
}

.form Button {
  color: black;
  width: 50%;
}

.form Button {
  margin-top: 1rem;
}

.selectionButton {
  color: black;
  margin-top: 3rem;
}
.buttonFormButton {
  color: black;
  width: 60%;
}

.registrationWrapper {
  padding-top: 2rem;
  margin: auto;
}
.editWrapper {
}

.subRegistrationForm {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5%, auto);
  border: solid, black, 1px;
  width: 90%;
  background-color: #171717;
}

.subRegistrationForm > * {
  padding: 1rem;
}

.subRegistrationForm Button {
  color: black;
  margin-top: 3rem;
}
.subItem5 {
  grid-column: 1/-1;
}
.subItem7 {
  align-self: start;
}
.subItem00 {
  grid-column: 1/-1;
}
.subItem0 {
  color: #fffded;
  grid-column: 1/-1;
}

.subItem12 {
}

.vendorRegistrationForm {
  margin-top: 1rem;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(5%, auto);
  border: solid, black, 1px;
  width: 40rem;
  background-color: #171717;
}

.vendorRegistrationForm > * {
  padding: 1rem;
}

.vendorItem0 {
  color: #fffded;
  grid-column: 1/-1;
}

.vendorItem5 {
  grid-column: 1/-1;
}

.vendorItem8 {
  grid-column: 1/-1;
}

.vendorItem9 {
  grid-column: 1/-1;
  padding-top: 3rem;
}

.editSubcontractorForm {
  display: grid;
  margin-top: 2rem;
  margin-left: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10%, auto);
  border: solid, black, 1px;
  width: 60%;
  background-color: rgba(9, 11, 14, 0.7);
}

.editSubcontractorForm > * {
  padding: 1rem;
}

.editSubcontractorForm Button {
  color: black;
  margin-top: 3rem;
}
.subItem00 {
  grid-column: 1/-1;
}
.subItem0 {
  color: #fffded;
  grid-column: 1/-1;
}
.subItemEdit5 {
  grid-column: 1/-1;
}

.subItem12 {
}

.VendorEditForm {
  display: grid;
  margin-top: 2rem;
  margin-left: 2rem;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10%, auto);
  border: solid, black, 1px;
  width: 40rem;
  background-color: rgba(9, 11, 14, 0.7);
}

.VendorEditForm > * {
  padding: 1rem;
}

.vendorItem0 {
  color: #fffded;
  grid-column: 1/-1;
}

.vendorItem5 {
  grid-column: 1/-1;
}

.vendorItem8 {
  grid-column: 1/-1;
}

.vendorItem9 {
  grid-column: 1/-1;
  padding-top: 3rem;
}

/*--------responsiveness--------*/

@media (max-width: 1347px) {
  .headtext1 {
    text-align: center;
    font-weight: 400;
    color: #fffded;
  }

  .subRegistrationForm {
    height: 80vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    border: solid, black, 1px;
    width: 95%;
  }

  .subRegistrationForm > * {
    padding: 1rem;
  }

  .subRegistrationForm Button {
    color: black;
    margin-top: 3rem;
  }
  .subItem00 {
    grid-column: 1;
  }
  .subItem0 {
    color: #fffded;
    grid-column: 1/-1;
  }

  .subItem12 {
  }

  .vendorRegistrationForm {
    display: grid;
    height: 65vh;
    overflow: scroll;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    border: solid, black, 1px;
    width: 90%;
  }

  .vendorRegistrationForm > * {
    padding: 1rem;
  }

  .vendorItem0 {
    color: #fffded;
    grid-column: 1/-1;
  }

  .vendorItem5 {
    grid-column: 1/-1;
  }

  .vendorItem8 {
    grid-column: 1/-1;
  }

  .vendorItem9 {
    grid-column: 1/-1;
    padding-top: 3rem;
  }

  .editSubcontractorForm {
    display: grid;
    margin-top: 2rem;
    margin-left: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(10%, auto);
    border: solid, black, 1px;
    width: 60%;
    background-color: rgba(9, 11, 14, 0.7);
  }

  .editSubcontractorForm > * {
    padding: 1rem;
  }

  .editSubcontractorForm Button {
    color: black;
    margin-top: 3rem;
  }
  .subItem00 {
    grid-column: 1/-1;
  }
  .subItem0 {
    color: #fffded;
    grid-column: 1/-1;
  }
  .subItemEdit5 {
    grid-column: 1/-1;
  }

  .subItem12 {
  }
}

@media (max-width: 1000px) {
  /*--------responsivenessNAV----------------*/

  .nav-logo {
    border-radius: 1rem;
    max-width: 8rem;
    max-height: 8rem;
  }

  .nav {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 1%;
  }

  .nav-link {
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    color: #fffded;
    display: inline-block;
    margin-left: 0%;
    /* padding: 0.2rem 0.2rem 0.2rem 0.2rem; */
  }

  /*-------responsivenessBODY---------*/

  .headtext1 {
    margin-bottom: 10%;

    font-weight: 400;
    color: #fffded;
  }

  .form {
    color: #fffded;
    border: solid, black, 1px;
    margin-top: 4rem;
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 800px) {
  .headtext1 {
    font-size: 2rem;
    width: 75%;
    font-weight: 400;
    color: #fffded;
  }
}

@media (max-width: 591px) {
  .headtext1 {
    font-size: 1.2rem;
    font-weight: 400;
    width: 80%;
    color: #fffded;
  }
}
