* {
  box-sizing: border-box;
}
.footcontent {
  padding-top: 40vh;
  margin-top: auto;
  margin-bottom: 3rem;
}

.footer li {
  display: inline-block;
  padding: 1rem 1rem 1rem 1rem;
}

.footNav_links a {
  font-size: 20px;
  text-decoration: none;
  color: #fffded;
}

.footNavBar {
  text-align: center;
  padding-left: 10rem;
  position: absolute;
  width: 100%;
  background-color: rgba(72, 79, 86, 0.7);

  color: #fffded;
}

.footer img {
  float: right;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
